{{#if disabled}}
<button data-component="Button" class="btn {{ type }}" id="{{ id }}" disabled>
    {{ text }}
</button>
{{else}}
<button data-component="Button" class="btn {{ type }}" id="{{ id }}">
    {{ text }}
</button>
{{/if}}